body {
    height: 1000px;
    background-color: red; 
    background-image: linear-gradient(to left bottom , rgb(159, 52, 209) , rgb(101, 217, 233));
    
}

#initial-display {
    padding-top: 15%;
    font-size: 600%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0%;
    
}




#keycode {
    text-align: center;
    height: 100px;
    font-size: 600%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15%;
    padding-bottom: 10%;
    display: none;
}

.eventinfo {
    display: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

#eventkeydiv {
    padding-right: 20%;
}

#eventcodediv {
    padding-right: 20%;
}

#eventkey {
    display: none;

}

#eventcode {
    display: none;
}

#eventwhich {
    display: none;
}

#keytext {
    display: none;
    font-weight: bold;
}

#codetext {
    display: none;
    font-weight: bold;
}

#whichtext {
    display: none;
    font-weight: bold;
}


@media only screen and (min-width: 412px) and (max-width: 768px) {
    
    #keytext {
        font-weight: bold;
    }

    #codetext {
        font-weight: bold;
    }

    #whichtext {
        font-weight: bold;
    }
    
    .eventinfo {
        display:flex;
        flex-direction: column;
        font-size: 100%;
    }

    #keycode {
        padding-top: 50%;
        padding-bottom: 0%;
        font-size: 300%;

    }

    #initial-display {
        padding-top: 50%;
        font-size: 300%;

        
    }

    #eventkeydiv {
        padding-right: 0%;
    }
    
    #eventcodediv {
        padding-right: 0%;
    }

    body {
        background-image: linear-gradient(to bottom , rgb(159, 52, 209) , rgb(101, 217, 233));
    }
}